.nav {
  background-color: #333;
  position: fixed;
  width: 100%;
  z-index: 1000;
  color: white;
}
.body {
  padding-top: 75px;
}
.btn {
  margin-top: 15px;
}
#chapter, #verse {
  padding-top: 15px;
}
#greekword {
  position: fixed;
  padding-top: 82px;
  font-size: 40px;
}
#definition {
  position: fixed;
  padding-top: 165px;
  font-size: 20px;
}
#partsofspeech {
  position: fixed;
  padding-top: 142px;
  font-size: 20px;
}
@media only screen and (max-width: 1000px) {
  .body {
    padding-top: 225px;
  }
  .btn {
    margin-top: 0;
  }
}
