.nav {
  background-color: #333;
  position: fixed;
  width: 100%;
  z-index: 1000;
  color: white;
  top: 0;
}
.body {
  margin-top: 85px;
}
.btn {
  margin-top: 15px;
}
#chapter, #verse {
  padding-top: 15px;
}
.greekword {
  position: fixed;
  font-size: 40px;
}
#definition, #listOfSpeech, #partsofspeech {
  font-size: 20px;
  text-align:left;
  
}
@media only screen and (max-width: 1000px) {
  .body {
    padding-top: 225px;
  }
  .btn {
    margin-top: 0;
  }
}

ol.capitalize {
	text-transform: capitalize;
}
