.nav {
  background-color: #333;
  position: fixed;
  width: 100%;
  z-index: 1000;
  color: white;
  top: 0;
}
.body {
  margin-top: 65px;
}
.btn {
  margin-top: 15px;
}
#chapter, #verse, #book {
  padding-top: 15px;
}
.greekword {
  position: fixed;
  font-size: 40px;
}
#definition, #listOfSpeech, #partsofspeech {
  font-size: 20px;
  text-align: left;
}
#pos {
  z-index: 1000;
}
.nav .container .row {
  margin-bottom: 0px;
}
ol.capitalize {
  text-transform: capitalize;
  padding-left: 0px;
}
ol li {
  margin-left: 22px;
}
@media only screen and (max-width: 1000px) {
  .body {
    padding-top: 150px;
  }
  .btn {
    margin-top: 0;
  }
  .nav .container .row {
    margin-bottom: 15px;
  }
}
